@charset "UTF-8";

body{
    background-color: rgb(71, 144, 146);
}
h1{
    color: white;
    text-align: center;
}

section {
    width: 400px;
    height: 250px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
